body {
  margin: 0;
  font-family: "Lacquer", cursive;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}

h2 {
  margin: 5px;
  color: green;
}

.button {
  background-color: greenyellow;
  font-size: larger;
  color: green;
  border: none;
  font-family: "Lacquer", cursive;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 5rem;
}

.counter {
  position: absolute;
  top: 0;
  font-size: large;
}

/** MOSQUITO STYLES */

.mosquito-img {
  cursor: pointer;
  background-image: url(../src/images/mosquito.png);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  position: absolute;
  animation-name: mosquito-animation;
  animation-duration: 15s;
}

@keyframes mosquito-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/** TREE STYLES  */
