body {
  margin: 0;
  font-family: "Lacquer", cursive;
}

h2 {
  margin: 5px;
  color: green;
}

.button {
  background-color: greenyellow;
  font-size: larger;
  color: green;
  border: none;
  margin-left: 5px;
  font-family: "Lacquer", cursive;
  padding: 5px;
}

.mosquito-img {
  background-image: url(../src/images/mosquito.png);
  width: 100px;
  height: 100px;
  background-size: cover;
}
